flows/Flow 1 - cc6db52f03bf31bc - r.json
[
  {
    "id": "cc6db52f03bf31bc",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "0658d5efb8b7db22",
    "type": "inject",
    "z": "cc6db52f03bf31bc",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 460,
    "y": 280,
    "wires": [
      [
        "415a883a1b40d998"
      ]
    ]
  },
  {
    "id": "415a883a1b40d998",
    "type": "function",
    "z": "cc6db52f03bf31bc",
    "parameters": [],
    "name": "function 1",
    "func": "\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 280,
    "wires": [
      [
        "33d167dde7067726"
      ]
    ]
  },
  {
    "id": "33d167dde7067726",
    "type": "debug",
    "z": "cc6db52f03bf31bc",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 880,
    "y": 260,
    "wires": []
  }
]